/Debug/
/Release/
/.vs/
*.exe
*.tmp
*.pdb
*.ilk
*.tlog
*.obj
*.o
*.log
*.idb
*.layout
*.iobj
*.ipdb
/*/obj
/CMakeFiles
**/CMakeFiles
Makefile
**/Makefile
/*/.vs
/*/*.cbp
/*/*.depend
/*/*.sln*
/*/*.vcxproj*
*.un~
*.h~
*.cpp~
*.cscope_file_list
.vcxproj*
**/*.vcxproj*
.sln
**/*.sln
/lib/
/bin/
**/Log.txt
**/LogError.txt
Log.txt
LogError.txt
CMakeCache.txt
**/CMakeCache.txt
*.dir
.vscode
*.log.txt
*.cmake
**/.vs
/external/chipmunk/src/Debug
